<div class="row">
  <div class="col-lg-12">
    <div class="loading" *ngIf="loading">
      <img src="assets/loading.gif" />
    </div>
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Add a Expense&nbsp;
      </div>
      <div class="card-body">
        <form [formGroup]="expenseAddForm" (ngSubmit)="saveExpense()">
          <div class="row form-group">
            <div class="col-6">
              <label for="expenseHead">Expense Head</label>
              <select formControlName="expenseHeadCtrl" class="form-control" name="expenseHead">
                <option [ngValue]="null">Choose a Expense Head</option>
                <option [ngValue]="expenseHead.id" *ngFor="let expenseHead of expenseHeads">
                  {{expenseHead.name}}</option>
              </select>
              <div *ngIf="expenseAddForm.controls.expenseHeadCtrl.hasError('required') && btnExpenseSubmited ">
                <div class="alert alert-danger">
                  Expense Head is Required.
                </div>
              </div>
            </div>
            <div class="col-6">
              <label for="expenseHead">Description</label>
              <input formControlName="descriptionCtrl" maxlength="100" type="text" class="form-control" id="description"
                placeholder="Describe the Expense">
              <div *ngIf="expenseAddForm.controls.descriptionCtrl.hasError('required') && btnExpenseSubmited ">
                <div class="alert alert-danger">
                  Description is Required.
                </div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-6">
              <label for="incomeHead">Payment Mode</label>
              <select formControlName="expenseHeadPaymentMode" class="form-control" id="paymentMode">
                <option [ngValue]="null">Choose Payment Mode</option>
                <option [ngValue]="1">Cash</option>
                <option [ngValue]="2">Card</option>
                <option [ngValue]="3">Cheque</option>
                <option [ngValue]="4">DD</option>
                <option [ngValue]="5">UPI</option>
                <option [ngValue]="6">Online Banking</option>

              </select>
              <div *ngIf="expenseAddForm.controls.expenseHeadPaymentMode.hasError('required') && btnExpenseSubmited ">
                <div class="alert alert-danger">
                  Payment Mode is Required.
                </div>
              </div>
            </div>
            <div class="col-6">
              <label for="expenseDate">Date</label>
              <div class="input-group">
                <input class="form-control" formControlName="expenseHeadDate" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                </div>
              </div>
              <div *ngIf="expenseAddForm.controls.expenseHeadDate.hasError('required') && btnExpenseSubmited ">
                <div class="alert alert-danger">
                  Date is Required.
                </div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-6">
              <label for="incomeHead">Reference</label>
              <input formControlName="referenceCtrl" maxlength="50" type="text" class="form-control" id="reference"
                placeholder="Reference of payment">
              <div *ngIf="expenseAddForm.controls.referenceCtrl.hasError('required') && btnExpenseSubmited ">
                <div class="alert alert-danger">
                  Payment Refrence is Required.
                </div>
              </div>
            </div>
            <div class="col-6">
              <label for="amount">Amount</label>
              <input formControlName="amountCtrl" maxlength="20" type="text" class="form-control" id="amount"
                placeholder="Amount paid">
              <div *ngIf="expenseAddForm.controls.amountCtrl.hasError('required') && btnExpenseSubmited ">
                <div class="alert alert-danger">
                  Amount is Required.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit</button>
            <button class="btn btn-primary" (click)="ResetExpense();" type="button">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>