<div class="animated fadeIn">
  <div *ngIf="auth.isSuperAdmin()" class="row">
    <div class="col-lg-12">
      <div class="loading" *ngIf="loading">
        <img src="assets/loading.gif" />
      </div>
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Branch&nbsp;
          <i (click)="onBranchModalClick(branchModal,1);" class="fa fa-plus"></i>
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Branch Name</th>
                <th>Address</th>
                <th>Contact Person</th>
                <th>Contact Number</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody *ngFor="let branch of branches">
              <tr>
                <td>{{branch.branchName}}</td>
                <td>{{branch.branchAddress}}</td>
                <td>{{branch.contactPerson}}</td>
                <td>{{branch.contactNumber}}</td>
                <td>
                  <!-- <span class="badge badge-success">Active</span> -->
                  <i class="fa fa-trash" (click)="onDeleteModalClick(deleteModal,branch,'branch')"></i> &nbsp;
                  <i (click)="onBranchEditModalClick(branchModal,branch.id)" class="fa fa-pencil"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div *ngIf="auth.isSuperAdmin()" class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> Course &nbsp;
              <i (click)="onCourseModalClick(courseModal,1)" class="fa fa-plus"></i>
            </div>
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Course Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody *ngFor="let course of courses">
                  <tr>
                    <td>{{course.courseName}}</td>
                    <td>{{course.description}}</td>
                    <td><i class="fa fa-trash" (click)="onDeleteModalClick(deleteModal,course,'course')"></i> &nbsp;
                      <i (click)="onCourseEditModalClick(courseModal,course.id)" class="fa fa-pencil"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--/.col-->
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> User &nbsp;
              <i (click)="onUserModalClick(userModal,1)" class="fa fa-plus"></i>
            </div>
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Branch</th>
                    <th>User Role</th>
                    <th>Actions</th>

                  </tr>
                </thead>
                <tbody *ngFor="let user of users">
                  <tr>
                    <td>{{user.userName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.branchId}}</td>
                    <td>{{user.userRoleId}}</td>
                    <td><i class="fa fa-trash" (click)="onDeleteModalClick(deleteModal,user,'user')"></i> &nbsp;
                      <i (click)="onUserEditModalClick(userModal,user.id)" class="fa fa-pencil"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->

      <ng-template #branchModal let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Add Branch</h4>
          <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
        </div>
        <div class="modal-body">
          <div class="card-body">
            <form [formGroup]="branchForm" (ngSubmit)="saveBranchDetails()">
              <div class="form-group">
                <label for="company">Name</label>
                <input [(ngModel)]="branch.branchName" formControlName="branchName" type="text" class="form-control"
                  id="Name" maxlength="25" placeholder="Name of the branch">
                <div *ngIf="branchForm.controls.branchName.hasError('required') && btnBranchSubmited">
                  <div class="alert alert-danger">
                    Name is required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="vat">Branch Address</label>
                <input [(ngModel)]="branch.branchAddress" maxlength="40" formControlName="branchAddress" type="text"
                  class="form-control" id="address" placeholder="Address of the branch">
                <div *ngIf="branchForm.controls.branchAddress.hasError('required') && btnBranchSubmited">
                  <div class="alert alert-danger">
                    Address is required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="postal-code">Branch Email</label>
                <input [(ngModel)]="branch.branchEmail" maxlength="20" formControlName="branchEmail" type="text"
                  class="form-control" id="email" placeholder="Email address">
                <div *ngIf="branchForm.controls.branchEmail.hasError('required') && btnBranchSubmited">
                  <div class="alert alert-danger">
                    Email is Required.
                  </div>
                </div>
                <div *ngIf="branchForm.controls.branchEmail.hasError('email') && btnBranchSubmited">
                  <div class="alert alert-danger">
                    Invalid email format.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="street">Contact Person</label>
                <input [(ngModel)]="branch.contactPerson" maxlength="20" formControlName="branchPerson" type="text"
                  class="form-control" id="contPerson" placeholder="Contact person">
                <div *ngIf="branchForm.controls.branchPerson.hasError('required') && btnBranchSubmited">
                  <div class="alert alert-danger">
                    Contact Person is Required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="city">Contact Number</label>
                <input [(ngModel)]="branch.contactNumber" maxlength="12" formControlName="branchNumber" type="number"
                  min="0" class="form-control" id="city" placeholder="Contact number">
                <div *ngIf="branchForm.controls.branchNumber.hasError('required') && btnBranchSubmited">
                  <div class="alert alert-danger">
                    Contact Number is Required.
                  </div>
                </div>
                <div *ngIf="branchForm.controls.branchNumber.hasError('pattern') && btnBranchSubmited">
                  <div class="alert alert-danger">
                    Invalid Contact Number.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="city">Admin</label>
                <select [(ngModel)]="adminIdSelected" formControlName="adminId" class="form-control" id="adminId">
                  <option *ngFor="let user of users" [value]=user.id>{{user.userName}}</option>
                </select>
              </div>
              <div class="form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
              </div>
            </form>

          </div>
        </div>

      </ng-template>

      <ng-template #courseModal let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Add Course</h4>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <form [formGroup]="courseForm" (ngSubmit)="saveCourseDetails()">
              <div class="form-group">
                <input [(ngModel)]="course.courseName" maxlength="25" formControlName="courseName" type="text"
                  class="form-control" id="Name" placeholder="Course Name">
                <div *ngIf="courseForm.controls.courseName.hasError('required') && btnCourseSubmited">
                  <div class="alert alert-danger">
                    Course Name is Required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input [(ngModel)]="course.description" maxlength="40" formControlName="courseDescription" type="text"
                  class="form-control" id="address" placeholder="Description">
                <div *ngIf="courseForm.controls.courseDescription.hasError('required') && btnCourseSubmited">
                  <div class="alert alert-danger">
                    Description is Required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
              </div>

            </form>
          </div>
        </div>
      </ng-template>

      <ng-template #userModal let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Add User</h4>
          <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button> -->
        </div>
        <div class="modal-body">
          <div class="card-body">
            <form [formGroup]="userForm" (ngSubmit)="saveUserDetails()">
              <div class="form-group">
                <label for="company">Name</label>
                <input [(ngModel)]="user.userName" formControlName="userName" maxlength="20" type="text"
                  class="form-control" id="Name" placeholder="Name of the user">
                <div *ngIf="userForm.controls.userName.hasError('required') && btnUserSubmited">
                  <div class="alert alert-danger">
                    Username is Required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="company">Email</label>
                <input [(ngModel)]="user.email" formControlName="userEmail" maxlength="20" type="text"
                  class="form-control" id="email" placeholder="Email of the user">
                <div *ngIf="userForm.controls.userEmail.hasError('required') && btnUserSubmited">
                  <div class="alert alert-danger">
                    User Email is Required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="street">Password</label>
                <input [(ngModel)]="user.password" maxlength="12" formControlName="userPassword" type="text"
                  class="form-control" id="password" placeholder="User Password">
                <div *ngIf="userForm.controls.userPassword.hasError('required') && btnUserSubmited">
                  <div class="alert alert-danger">
                    Password is Required.
                  </div>
                </div>
                <div *ngIf="userForm.controls.userPassword.hasError('pattern') && btnUserSubmited">
                  <div class="alert alert-danger">
                    Minimum eight characters, at least one letter and one number , special characters not allowed:
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="city">User Role</label>
                <select [(ngModel)]="userRoleIdSelected" formControlName="userRoleId" class="form-control"
                  id="userRoleId">
                  <option *ngFor="let role of userRoles" [value]="role.id">{{role.role}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="city">Branch</label>
                <select [(ngModel)]="branchIdSelected" formControlName="branchId" class="form-control" id="branchId">
                  <option *ngFor="let branch of branches" [value]="branch.id">{{branch.branchName}}</option>
                </select>
              </div>
              <div class="form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </ng-template>

      <ng-template #deleteModal let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <div>
              Are you sure you want to delete?
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">No</button>
          <button type="button" class="btn btn-primary" (click)="deleteItem()">Yes</button>
        </div>
      </ng-template>
