<div class="animated fadeIn">
  <div *ngIf="auth.isSuperAdmin()" class="row">
    <div class="col-lg-12">
        <div class="loading" *ngIf="loading" >
            <img  src="assets/loading.gif" />
          </div>
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Branch&nbsp;
          <i (click)="onModalClick(content)" class="fa fa-plus"></i>
        </div>
        <div class="card-body">
          <table class="table table-bordered" >
            <thead>
              <tr>
                <th>Branch Name</th>
                <th>Address</th>
                <th>Contact Person</th>
                <th>Contact Number</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody *ngFor="let branch of branches">
              <tr>
                <td>{{branch.branchName}}</td>
                <td>{{branch.branchAddress}}</td>
                <td>{{branch.contactPerson}}</td>
                <td>{{branch.contactNumber}}</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul> -->
        </div>
      </div>
    </div>
    <!--/.col-->
    <!-- <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Course
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Username</th>
                <th>Date registered</th>
                <th>Role</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Yiorgos Avraamu</td>
                <td>2012/01/01</td>
                <td>Member</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
              <tr>
                <td>Avram Tarasios</td>
                <td>2012/02/01</td>
                <td>Staff</td>
                <td>
                  <span class="badge badge-danger">Banned</span>
                </td>
              </tr>
              <tr>
                <td>Quintin Ed</td>
                <td>2012/02/01</td>
                <td>Admin</td>
                <td>
                  <span class="badge badge-secondary">Inactive</span>
                </td>
              </tr>
              <tr>
                <td>Enéas Kwadwo</td>
                <td>2012/03/01</td>
                <td>Member</td>
                <td>
                  <span class="badge badge-warning">Pending</span>
                </td>
              </tr>
              <tr>
                <td>Agapetus Tadeáš</td>
                <td>2012/01/21</td>
                <td>Staff</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div> -->
    <!--/.col-->
  </div>
  <!--/.row-->
  <div *ngIf="auth.isSuperAdmin()" class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Course &nbsp;
          <i (click)="onModalClick(courseModal)" class="fa fa-plus"></i>
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Course Name</th>
                <th>Description</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody *ngFor="let course of courses">
              <tr>
                <td>{{course.courseName}}</td>
                <td>{{course.description}}</td>
                <td><i class="fa fa-trash" (click)="onDeleteModalClick(deleteModal,course,'course')"></i> &nbsp;
                  <i (click)="onModalClick(courseModal)" class="fa fa-pencil"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> User &nbsp;
            <i (click)="onModalClick(userModal)" class="fa fa-plus"></i>
        </div>
        <div class="card-body">
          <table class="table table-bordered" >
            <thead>
              <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Branch</th>
                <th>User Role</th>
              </tr>
            </thead>
            <tbody *ngFor="let course of courses">
              <tr>
                <td>Pompeius René</td>
                <td>2012/01/01</td>
                <td>Member</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
              <tr>
                <td>Paĉjo Jadon</td>
                <td>2012/02/01</td>
                <td>Staff</td>
                <td>
                  <span class="badge badge-danger">Banned</span>
                </td>
              </tr>
              <tr>
                <td>Micheal Mercurius</td>
                <td>2012/02/01</td>
                <td>Admin</td>
                <td>
                  <span class="badge badge-secondary">Inactive</span>
                </td>
              </tr>
              <tr>
                <td>Ganesha Dubhghall</td>
                <td>2012/03/01</td>
                <td>Member</td>
                <td>
                  <span class="badge badge-warning">Pending</span>
                </td>
              </tr>
              <tr>
                <td>Hiroto Šimun</td>
                <td>2012/01/21</td>
                <td>Staff</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Combined All Table
        </div>
        <div class="card-body">
          <table class=" table table-bordered">
            <thead>
              <tr>
                <th>Username</th>
                <th>Date registered</th>
                <th>Role</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Vishnu Serghei</td>
                <td>2012/01/01</td>
                <td>Member</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
              <tr>
                <td>Zbyněk Phoibos</td>
                <td>2012/02/01</td>
                <td>Staff</td>
                <td>
                  <span class="badge badge-danger">Banned</span>
                </td>
              </tr>
              <tr>
                <td>Einar Randall</td>
                <td>2012/02/01</td>
                <td>Admin</td>
                <td>
                  <span class="badge badge-secondary">Inactive</span>
                </td>
              </tr>
              <tr>
                <td>Félix Troels</td>
                <td>2012/03/01</td>
                <td>Member</td>
                <td>
                  <span class="badge badge-warning">Pending</span>
                </td>
              </tr>
              <tr>
                <td>Aulus Agmundr</td>
                <td>2012/01/21</td>
                <td>Staff</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
            </tbody>
          </table>
          <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Branch</h4>
    <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">
    <div class="card-body">
        <form [formGroup]="branchForm" (ngSubmit)="saveBranchDetails()">
            <div class="form-group">
                <label for="company">Name</label> 
                <input [(ngModel)]="branch.branchName" formControlName="branchName"  type="text" class="form-control"  id="Name" placeholder="Name of the branch">
               
              </div>
              <div class="form-group">
                <label for="vat">Branch Address</label>
                <input [(ngModel)]="branch.branchAddress" formControlName="branchAddress"  type="text" class="form-control" id="address" placeholder="Address of the branch">
              </div>
              <div class="form-group">
                <label for="postal-code">Branch Email</label>
                <input [(ngModel)]="branch.branchEmail" formControlName="branchEmail"  type="text" class="form-control" id="email" placeholder="Email address">
              </div>
              <div class="form-group">
                <label for="street">Contact Person</label>
                <input [(ngModel)]="branch.contactPerson" formControlName="branchPerson" type="text" class="form-control" id="contPerson" placeholder="Contact person">
              </div>
              <div class="form-group">
                <label for="city">Contact Number</label>
                <input [(ngModel)]="branch.contactNumber" formControlName="branchNumber"  type="text" class="form-control" id="city" placeholder="Contact number">
              </div>
              <div class="form-group">
                  <button class="btn btn-primary" type="submit" >Submit</button>
                </div>
          </form>
      
    </div>
  </div>
 
</ng-template>

<ng-template #courseModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Course</h4>
  </div>
  <div class="modal-body">
    <div class="card-body">
        <form [formGroup]="courseForm" (ngSubmit)="saveCourseDetails()">
      <div class="form-group">
        <input [(ngModel)]="course.courseName" formControlName="courseName" type="text" class="form-control" id="Name" placeholder="Course Name">
      </div>
      <div class="form-group">
        <input [(ngModel)]="course.description" formControlName="courseDescription"  type="text" class="form-control" id="address" placeholder="Description">
      </div>
      <div class="form-group">
          <button class="btn btn-primary" type="submit" >Submit</button>
      </div>
      
      </form>
    </div>
  </div>
</ng-template>

<ng-template #userModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add User</h4>
      <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button> -->
    </div>
    <div class="modal-body">
      <div class="card-body">
          <form [formGroup]="userForm" (ngSubmit)="saveUserDetails()">
        <div class="form-group">
        <label for="company">Name</label>
          <input [(ngModel)]="user.userName" formControlName="userName" type="text" class="form-control" id="Name" placeholder="Name of the user">
        </div>
        <div class="form-group">
        <label for="company">Email</label>
        <input [(ngModel)]="user.email" formControlName="userEmail"  type="text" class="form-control" id="email" placeholder="Email of the user">
        </div>
        <div class="form-group">
        <label for="street">Password</label>
        <input [(ngModel)]="user.password" formControlName="userPassword"  type="password" class="form-control" id="password" placeholder="User Password">
        </div>
        <div class="form-group">
          <label for="street">Contact Person</label>
          <input [(ngModel)]="branch.contactPerson" formControlName="userContactPerson"  type="text" class="form-control" id="contPerson" placeholder="Contact person">
        </div>
        <div class="form-group">
          <label for="city">Contact Number</label>
          <input [(ngModel)]="branch.contactNumber" formControlName="userContactNumber"  type="text" class="form-control" id="city" placeholder="Contact number">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit" >Submit</button>
          </div>
        </form>
      </div>
    </div>
</ng-template>

<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <div>
        Are you sure you want to delete?
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">No</button>
    <button type="button" class="btn btn-primary" (click)="deleteItem()">Yes</button>
  </div>
</ng-template>
